<section class="mdc-toolbar__section mdc-toolbar__section--align-start">
    <a id="menu" class="material-icons">menu</a>
    <span class="mdc-toolbar__title">Bolão</span>
</section>
<section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
    <div class="g-signin2" data-onsuccess="verificarLoginGoogle" data-theme="dark" data-width="79" data-height="24"></div>
    <fb:login-button data-auto-logout-link="true" scope="public_profile,email" size="large"></fb:login-button>
</section>
