<div class="demo-toolbar mdc-theme--primary-bg mdc-theme--text-primary-on-primary mdc-typography--title mdc-elevation--z4">

    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-middle">
            <button class="demo-menu material-icons">menu</button>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-bottom">
            <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
        </div>
    </div>
</div>
