<aside class="mdc-temporary-drawer mdc-typography mdc-temporary-drawer--animating" style="z-index: 20;">
    <nav class="mdc-temporary-drawer__drawer">
        <!---->
        <header class="mdc-temporary-drawer__header">
            <div class="mdc-temporary-drawer__header-content mdc-theme--primary-bg mdc-them--text-primary-on-primary">
                Header here
            </div>
        </header>
        <nav class="mdc-list-group">
            <div id="icon-with-text-demo" class="mdc-list"><a href="#" class="mdc-list-item mdc-temporary-drawer--selected" data-mdc-tabindex-handled="true" tabindex="-1"><i aria-hidden="true" class="material-icons mdc-list-item__start-detail">inbox</i>Inbox
        </a> <a href="#" class="mdc-list-item" data-mdc-tabindex-handled="true" tabindex="-1"><i aria-hidden="true" class="material-icons mdc-list-item__start-detail">star</i>Star
        </a> <a href="#" class="mdc-list-item" data-mdc-tabindex-handled="true" tabindex="-1"><i aria-hidden="true" class="material-icons mdc-list-item__start-detail">send</i>Sent Mail
        </a> <a href="#" class="mdc-list-item" data-mdc-tabindex-handled="true" tabindex="-1"><i aria-hidden="true" class="material-icons mdc-list-item__start-detail">drafts</i>Drafts
        </a></div>
            <hr class="mdc-list-divider">
            <div class="mdc-list"><a href="#" class="mdc-list-item" data-mdc-tabindex-handled="true" tabindex="-1"><i aria-hidden="true" class="material-icons mdc-list-item__start-detail">email</i>All Mail
        </a> <a href="#" class="mdc-list-item" data-mdc-tabindex-handled="true" tabindex="-1"><i aria-hidden="true" class="material-icons mdc-list-item__start-detail">delete</i>Trash
        </a> <a href="#" class="mdc-list-item" data-mdc-tabindex-handled="true" tabindex="-1"><i aria-hidden="true" class="material-icons mdc-list-item__start-detail">report</i>Spam
        </a></div>
        </nav>
    </nav>
</aside>
