.ocultar {
    display: none!important;
}

.bolao.mdc-fab {
    align-items: center;
    text-decoration: none;
    background-color: #3f51b5;
}

.mdc-layout-grid__cell {
    text-align: center;
}

.login-card {
    height: 30px;
    width: 60px;
}

.login-card--small .mdc-card__media {
    background-size: 30px;
    background-repeat: no-repeat
}

.login-card__title {
    font-size: .75rem !important;
    margin: -22px -7px !important;
}

main {
    margin-top: 45px;
}


/* Regras de Negócio*/

table.uppercase td {
    text-transform: uppercase;
}


/*Ajuste para o polyfill quando o input date está em um dialog*/

date-input-polyfill[data-open="true"] {
    z-index: 10000;
}


/*centraliza verticalmente*/

table.vertical-center th, td {
    vertical-align: middle !important;
    float: none;
}


/*Rodapé*/

.logo {
    max-width: 50%;
}

footer {
    background-color: #002c50;
    color: #fff;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    line-height: 1.42857;
    margin: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 12px;
    padding-right: 12px;
}

img {
    border: 0;
    vertical-align: middle;
    interpolation-mode: bicubic;
}
