.login-card {
    height: 30px;
    width: 60px;
}


/*.login-card--with-avatar {
    position: absolute;
    background: #bdbdbd;
    height: 2.5rem;

    width: 2.5rem;

    border-radius: 50%;
}*/


/*.login-card--small {
    max-width: 10.938rem;
}*/

.login-card--small .mdc-card__media {
    background-size: 30px;
    background-repeat: no-repeat
}

.login-card__title {
    font-size: .75rem !important;
    margin: -22px -7px !important;
}

main {
    margin-top: 45px;
}


/* Regras de Negócio*/

table.uppercase td {
    text-transform: uppercase;
}


/*Ajuste para o polyfill quando o input date está em um dialog*/

date-input-polyfill[data-open="true"] {
    z-index: 10000;
}


/*centraliza verticalmente*/

table.vertical-center th, td {
    vertical-align: middle !important;
    float: none;
}


/*Rodapé*/

.logo {
    max-width: 50%;
}

footer {
    background-color: #002c50;
    color: #fff;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    line-height: 1.42857;
    margin: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 12px;
    padding-right: 12px;
}

img {
    border: 0;
    vertical-align: middle;
    interpolation-mode: bicubic;
}
