<!doctype html>
<html lang="pt">

<head>
    <title>
        ${this.titulo}
    </title>
    <!-- <base href="/"> -->
    ${this.cabecalho({"producao":this.producao})}
</head>

<body class="mdc-typography mdc-toolbar-demo">
    <div id="modalConfirmacao" style="margin-top: 0"></div>
    <header class="mdc-toolbar mdc-toolbar--fixed">
        ${this.navegacaoCabecalho()}
    </header>
    <aside class="mdc-temporary-drawer mdc-typography mdc-temporary-drawer--animating" style="z-index: 20;">
        ${this.barraLateral({logoAnimado:this.logoAnimado})}
    </aside>
    <main id="principal"></main>
    <footer>
        ${this.rodape({ logo:this.logo, logoAnimado:this.logoAnimado })}
    </footer>
</body>

</html>
