<nav class="mdc-temporary-drawer__drawer">
    <header class="mdc-temporary-drawer__header">
        <div class="mdc-temporary-drawer__header-content mdc-theme--primary-bg mdc-them--text-primary-on-primary">
            <img src="${this.logo}" alt="Logo gif" class="logo">
        </div>
    </header>
    <nav class="mdc-list-group">
        <div id="icon-with-text-demo" class="mdc-list">
            <a href="admin.html#usuario" class="mdc-list-item"><i aria-hidden="true" class="material-icons mdc-list-item__start-detail">directions_run</i>Classificação</a>
            <a href="admin.html#usuario?compactado=true" class="mdc-list-item"><i aria-hidden="true" class="material-icons mdc-list-item__start-detail">group</i>Compactada</a>            
            <a href="admin.html#regras" class="mdc-list-item"><i aria-hidden="true" class="material-icons mdc-list-item__start-detail">library_books</i>Regras</a>
            <a href="relatorios.html#primeiroTurno" class="mdc-list-item"><i aria-hidden="true" class="material-icons mdc-list-item__start-detail">visibility</i>Auditoria</a>
        </div>
        <hr class="mdc-list-divider">
        <div class="mdc-list">
            <a href="admin.html#usuario" class="mdc-list-item"><i aria-hidden="true" class="material-icons mdc-list-item__start-detail">email</i>reinaldovale@</a>
        </div>
    </nav>
</nav>
