<!doctype html>
<html lang="pt">

<head>
    <title>
        ${this.titulo}
    </title>
    <!-- <base href="/"> -->
    ${this.cabecalho({"producao":this.producao})}
    <link rel="manifest" href="manifest.json">
</head>

<!-- <body class="mdc-typography mdc-toolbar-demo"> -->
<body class="mdc-typography">
    <div id="modalConfirmacao" style="margin-top: 0"></div>
    <header class="mdc-toolbar mdc-toolbar--fixed">
        ${this.navegacaoCabecalho()}
    </header>
    <aside class="mdc-temporary-drawer mdc-temporary-drawer--animating" style="z-index: 20;">
        ${this.barraLateral({logo:this.logo})}
    </aside>
    <main id="principal" class="mdc-layout-grid">
        ${this.paginas()}
    </main>
    <footer>
        ${this.rodape({ gmail:this.gmail, twitter:this.twitter, github: this.github })}
    </footer>
    <div class="mdc-snackbar" aria-live="assertive" aria-atomic="true" aria-hidden="true">
        <div class="mdc-snackbar__text"></div>
        <div class="mdc-snackbar__action-wrapper">
            <button type="button" class="mdc-button mdc-snackbar__action-button"></button>
        </div>
    </div>
</body>

</html>
