<div class="mdc-theme--dark">
	<h2>Contatos</h2>
	<ul class="mdc-list mdc-list--avatar-list">
		<li class="mdc-list-item">
			<img class="mdc-list-item__start-detail" src="${this.gmail}" width="56" height="56" alt="Picture of Janet Perkins"> reinaldovale@
		</li>
		<li class="mdc-list-item">
			<img class="mdc-list-item__start-detail" src="${this.twitter}" width="56" height="56" alt="Picture of Mary Johnson"> @reinaldovale
		</li>
		<li class="mdc-list-item">
			<img class="mdc-list-item__start-detail" src="${this.github}" width="56" height="56" alt="Picture of Peter Carlsson"> reinaldovale
		</li>
	</ul>
</div>
